<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<form class="form-box">
    <label for="account_email">Username:</label>
    <input type="text" id="account_email" name="account_email" required />
    <label for="account_password">Password:</label>
    <input type="text" id="account_password" name="account_password" required />
    <button type="submit" class="button-primary mx-auto">Login</button>
    <p class="text-center">No Account? <a href="/account/registration">Sign-up</a></p>
</form>