<header>
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (loggedin) { %>
            <a title="Account management" href="/account">My Account</a>
            <a title="Click to log out" href="/account/logout">Logout</a>
        <% } else { %>
            <a title="Click to log in" href="/account/login">Login</a>
        <% } %>
    </div>
</header>