/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********************************************************************
 * I've tried to organize this document into sections. Classes for
 * Each element are grouped together wherever they are. To minimize
 * the number of media queries being declared, however, there may be
 * multiple groups for each  element's classes.
 *
 * Rules for mobile sized web-pages are not inside a media rule.
 *******************************************************************/

:root {
  --light-blue: lightskyblue;

  --header-bg-color: #242332;

  --default-text-color: black;
  --dark-bg-text-color: white;
}

body {
  margin: 0;
  background-image: url(../images/site/checkerboard.jpg);
  background-size: 55%;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: initial;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

header .siteName {
  font-size: 2rem;
}

header a, header a:active, header a:visited {
  color: var(--default-text-color);
}

/* navigation */
nav {
  background-color: var(--header-bg-color);
  color: var(--dark-bg-text-color);
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  font-size: 1.1rem;
  padding: 8px 0;
}

header a, header a:active, header a:visited,
nav a, nav a:active, nav a:visited {
  text-decoration: none;
}

/* begin utlity classes */
/* display mode */
.jn-d-flex {
  display: flex;
}

/* layout */
.grid-2w-even {
  --no-columns: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jn-col-gap-sm {
  --current-col-gap: 10px;
  column-gap: var(--current-col-gap);
}

/* size */

.jn-w-100 {
  width: 100%;
}

/* color */

.jn-bg-light-blue {
  background-color: var(--light-blue);
}
/* end utility classes */

/* begin side-by-side container */
.side-by-side-container {
  display: flex;
}

.side-by-side-container > * {
  flex: 1 1;
}

.side-by-side-container > :first-child {
  margin-right: 20px;
}
/* end side-by-side container */

/* begin upgrade card */
.upgrade-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  box-sizing: border-box;
}

.upgrade-card .img-container {
  display: flex;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: var(--light-blue);
}
/* end upgrade card */

/* wrapper */
#wrapper {
  background-color: white;
}

/* Medium page */
@media only screen and (min-width: 500px) {
  body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  #wrapper {
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    flex: 1 0;
  }

  header {

    margin: 20px;
  }

}

/* Large page */
@media only screen and (min-width: 1000px) {

  #wrapper {
    min-width: 700px;
    max-width: 1200px;
  }

}
