/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********************************************************************
 * I've tried to organize this document into sections. Classes for
 * Each element are grouped together wherever they are. To minimize
 * the number of media queries being declared, however, there may be
 * multiple groups for each  element's classes.
 *
 * Rules for mobile sized web-pages are not inside a media rule.
 *******************************************************************/

:root {
  --primary-color: orange;

  --header-bg-color: #242332;
  --light-gray: #f6f6f6;

  --default-text-color: black;
  --dark-bg-text-color: white;
}

html, body {
  --body-y-padding: 12px;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(../images/site/checkerboard.jpg);
  background-size: 55%;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: initial;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
header, main, footer {
  padding: 0 8px;
  padding-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

header .siteName {
  font-size: 2rem;
}

header a, header a:active, header a:visited {
  color: var(--default-text-color);
}

/* navigation */
nav {
  background-color: var(--header-bg-color);
  color: var(--dark-bg-text-color);
  margin-top: 20px;
}

nav a, nav a:visited, nav a:active, nav a:hover {
  color: var(--dark-bg-text-color);
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  font-size: 1.1rem;
  padding: 8px 0;
}

header a, header a:active, header a:visited,
nav a, nav a:active, nav a:visited {
  text-decoration: none;
}

/* begin utility classes */
/* display mode */
.jn-d-flex {
  display: flex;
}

/* layout */
.grid-2w-even {
  --no-columns: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jn-col-gap-sm {
  --current-col-gap: 10px;
  column-gap: var(--current-col-gap);
}

/* size */

.jn-w-100 {
  width: 100%;
}

/* color */

.jn-bg-primary-color {
  background-color: var(--primary-color);
}

.jn-font-primary-color {
  color: var(--primary-color);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-bold {
  font-weight: bold;
}

/* end utility classes */

/* begin banner */
.banner {
  width: 100%;
  background-image: url("/images/vehicles/delorean-tn.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 160px;
}
/* end banner */

/* begin translucent card */
.tl-card {
  width: 200px;
  background-color: #ffffffea;
}
/* end translucent card*/

/* begin side-by-side container */
.side-by-side-container {
  display: flex;
  flex-direction: column-reverse;
}
/* end side-by-side container */

/* begin upgrade card */
.upgrade-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  box-sizing: border-box;
}

.upgrade-card .img-container {
  display: flex;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: var(--primary-color);
}
/* end upgrade card */

/* wrapper */
#wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

main {
  flex: 1 0;
}

/* Inventory Item View */
.inv-view-container {
  display: flex;
  flex-direction: column; /* will be row on larger viewports */
}

.inv-view-container > .img-container,
.inv-view-container > .item-desc-container {
  max-width: 100%; /* will be 50 on larger viewports */
}

.item-desc-container > :nth-child(2n) {
  background-color: var(--light-gray);
}

.item-desc-container > :nth-child(n):not(h1, h2, h3, h4, h5) {
  padding: 15px 10px;
}
/* End Inventory Item View */

/* Begin login box */
.login-box {
  margin: 0 auto;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  max-width: 80%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
}

.login-box .form-row {
  display: flex;
}

.login-box .form-row input {
  flex: 1 0 auto;
}
/* End login box */

/* Medium page */
@media only screen and (min-width: 500px) {
  body {
    padding: var(--body-y-padding) 0;
  }

  #wrapper {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 15px;
  }

  header {
    margin: 20px 0;
    padding-top: 0;
  }

  nav {
    margin-top: 0;
  }

  nav li, header, main, footer {
    padding: 0;
  }

  .banner {
    background-image: url("/images/vehicles/delorean.jpg");
    background-size: 70%;

    min-height: 270px;
    padding: 55px 40px;
  }

  .side-by-side-container {
    flex-direction: row;
  }

  .side-by-side-container > * {
    flex: 1 1;
  }

  .side-by-side-container > :first-child {
    margin-right: 20px;
  }

  /* med Inventory Item View */

  .inv-view-container {
    flex-direction: row;
    column-gap: 5%;
  }

  .inv-view-container > .img-container,
  .inv-view-container > .item-desc-container {
    max-width: 50%; /* will be 100 on smaller viewports */
  }

  /* end med Inventory Item View */

}

@media only screen and (min-width: 950px) {
  #wrapper {
    max-width: 850px;
  }

  .banner {
    position: relative;
    min-height: 470px;
    padding: 0;
  }

  .banner .tl-card {
    position: absolute;
    top: 30%;
    left: 15%;
  }
}

/* Large page */
@media only screen and (min-width: 1300px) {

  #wrapper {
    max-width: 1200px;
  }
}
