<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<form class="form-box" action="/inv/management/add-classification">
    <label for="classification_name">Classification Name:</label>
    <input id="classification_name" name="classification_name" pattern="[0-9A-Za-z]+" required />
    <p>Classification names cannot contain any special characters or spaces.</p>
    <button type="submit" class="button-primary">Add</button>
</form>