<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<ul>
    <li><a href="/inv/management/add-classification">Add Classification</a></li>
    <li><a href="/inv/management/add-inventory">Add Inventory Item</a></li>
</ul>
